# Intellij Idea stuff
.idea

# mozart compilated files (so that future files will not be added)
.ozf

# the temp folder where is stored the compiled files
bin
CommonUtils.ozf
Ghost000other.ozf
Input.ozf
Main.ozf
Pacman000other.ozf
PlayerManager.ozf
GUI.ozf
